
DATABASE_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Finance CRM"

EXCHANGE_RATE_API_KEY=""
EXCHANGE_RATE_API_URL="https://api.exchangerate-api.com/v4/latest"